{% extends "::base.html.twig" %}

{% block title %}PostBoxBundle:User:getAll{% endblock %}

{% block body %}
<h1>Welcome to the User:getAll page</h1>
{% for user in allUsers %}
    
    {% include 'PostBoxBundle:User:get.html.twig' with {'user': user} %}
    
{% endfor %}

{% endblock %}
