{% extends "::base.html.twig" %}

{% block title %}PostBoxBundle:User:getAll{% endblock %}

{% block body %}

{% for user in allUsers %}
    <hr>
{% embed 'PostBoxBundle:User:get.html.twig' with {'user': user} %}
    {% block details %}{% endblock %}
{% endembed %}
    <hr>
{% endfor %}
<button onclick="location.href='/new'">New contact</button>
{% endblock %}
